.available-tiles,
.selected-tiles {
  display: inline-flex;
  justify-content: space-between;
}

.available-tiles .tile-cell,
.selected-tiles .tile-cell {
  flex: 1;
  display: flex;
}

.board {
  display: inline-flex;
  flex-direction: column;
  gap: 1px;
}

.board-row {
  display: inline-flex;
  justify-content: space-between;
  gap: 1px;
}

.board-cell {
  width: max-content;
  flex: 1;
  display: flex;
}

.board-cell > img {
  width: 64px;
}

.controls {
  height: 5rem;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
}

.control {
  width: max-content;
  flex: 1;
  border: 1px solid green;
  display: flex;
}

.control > button {
  display: block;
  width: 100%;
}
